.description {
  position: relative;
  z-index: 1;
  font-size: 2vw;
  font-weight: 600;
  color: white;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 30vh;
  margin-left: 10vh;
}

.description p {
  margin: 0px;
  position: relative;
}
.text{
    font-size: 10vh;
    text-transform: uppercase;
}